/*Name*/
:root{
	--accent1: steelblue;
	--lightAccent1: lightsteelblue;
	--accent2: maroon;
}
html {
	background-color: lightsteelblue;
	background-image: url("../images/bg.jpeg");
}

h1, h2, h3, p {
	margin:0;
	padding:0;
}
body{
		font-family: Arial, Helvetica, sans-serif;
		max-width: 1200px;
		margin: 0 auto;
		border: 3px solid var(--accent1);
		box-shadow: 5px 10px 10px black, -5px 0 10px black;
		background-color:white;
}

a {
	font-weight: bold;
}

header {
	padding: 15px 30px;
	border-bottom: 2px solid var(--accent1);
	background-image: linear-gradient(white, var(--lightAccent1));
	
	& img {
		float: left;
	}
	& h2 {
		color: var(--accent1);
		font-style: italic;
		font-size: 250%;
		text-indent: 45px;
		margin-bottom: 5px;
	}
	& h3 {
		font-size: 150%;
		text-indent: 45px;
		padding-bottom: 12px;
	}
	
}
nav {
	
	& ul {
		background-color: var(--accent1);
		
		list-style-type: none;
		padding-left: 0;
		margin-top: 0; /*Remove white space between header and nav */
	}
	& ul li {
		
		padding: 10px 0;
		position: relative;
		text-align: center;
        
	}
	& a {
		color:white;
		text-decoration: none;
		display:block;
		text-align: center;
	}
	& a#current {
		border: solid white;
		border-radius: 10px;
	}
	& a:hover, a:focus {
		text-decoration:underline;
	}
	& ul li ul {
		display:none;
		position: absolute;
	}
	& li:hover ul, li:focus ul {
		display:block;
	}
	& li ul li {
		width:240px;
	}
}
main {
	
}
section {
	
	padding: 25px 30px 0;
	& h1 {
		font-size: 160%;
		margin-bottom: 5px;
	}
	& h2 {
		font-size: 130%;
		margin-bottom: 8px;
	}
	& h3 {
		font-size: 110%;
		margin-bottom: 6px;
	}
	& a:link, a:visited {
		color:var(--accent2);
	}
	& a:focus, a:hover {
		color: var(--accent1);
	}
	& p {
		margin-bottom: 11px;
		clear:left;
	}
	& img {
		float:left;
		margin-right: 5px;
	}
}
aside {
	
	margin: 25px 10px 20px;
	padding: 5px 30px 25px;
	border: 2px solid var(--accent1);
	border-radius: 20px;
	height: fit-content; 
	& h2 {
		font-size: 130%;
		margin-bottom: 8px;
		color: var(--accent2);
	}
	& ul {
		padding-left: 10px;
		list-style-type:none;
	}
	& li {
		line-height: 1.5;
	}

	& a:link, a:visited {
		color: var(--accent1);
	}
	& a:focus, a:hover {
		color:var(--accent2);
	}
}
footer {
	font-size: 85%;
	text-align:center;
	background: var(--accent1);
	color:white;
	padding: 15px 30px;
	padding: 15px 30px;
}